.sacola {
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    padding-right: 35px;
    padding-top: 8px;
    text-align: right;
    width: 140px;
    position: absolute;
    top: 0;
    right: 0;
}

.painel ol{
    padding-inline-start: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.painel ol figcaption,
.painel ol img{
    width: 100%;
}

.painel ol figure{
    height: 80%;
    margin: 0 0 0 0;
}
.menu-opcoes ul {
    font-size: 15px;
}

.menu-opcoes a {
    color: #003366;
}

body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
    list-style: none;
}

.container {
    margin: 0 auto;
    width: 940px;
}

header {
    position: relative;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}

.logotipo {
    position: relative;
    top: 20px;
    left: 50px;
}

.busca, .menu-departamentos {
    background-color: #DCDCDC;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
    float: left;
}

.busca h2, .busca form, .menu-departamentos h2 {
    margin: 10px;
}

.menu-departamentos li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
    margin-left: -40px;
    list-style-type: none;
}

.menu-departamentos a {
    color: #333333;
    text-decoration: none;
}

.busca input[type=search] {
    width: 170px;
}

.menu-departamentos {
    clear: left;
    margin-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.destaque {
    margin-top: 10px;
}

.painel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
}

.painel {
    margin: 10px 0;
    padding: 5px;
    width: 445px;
}

.novidades {
    float: left;
    background-color: #F5DCDC;
    margin-left: -250px;
    margin-top: 400px;
}

.mais-vendidos {
    float: right;
    background-color: #DCDCF5;
    margin-top: 400px;
}

.painel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.painel a {
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

footer {
    background-image: url(../img/fundo-rodape.png);
    clear: both;
    padding: 20px 0;
}

footer .container {
    position: relative;
}

.social a {
    /* tamanho da imagem */
    height: 32px;
    width: 32px;
    /* image replacement */
    display: block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"] {
    background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
    background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
    background-image: url(../img/googleplus.png);
}

.banner-destaque {
    float: right;
    position: absolute;
    margin-left: 200px;
    margin-top: -15px;
}

.social {
    position: absolute;
    top: 12px;
    right: 0;
}

.social li {
    float: left;
    margin-left: 25px;
}

.busca button {
    /* adicionando imagem */
    background-image: url(../img/busca.png);
    background-repeat: no-repeat;
    border: none;
    background-color: #DCDCDC;
    /* tamanho da imagem */
    width: 20px;
    height: 20px;
    /* imagem replacement */
    text-indent: -9999px;
}